[*.cs]

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑添加 "required" 修饰符或声明为可为 null。
dotnet_diagnostic.CS8618.severity = silent

# CS8604: 引用类型参数可能为 null。
dotnet_diagnostic.CS8604.severity = silent

# CS8603: 可能返回 null 引用。
dotnet_diagnostic.CS8603.severity = silent

# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = silent
